.container-1 {

  padding-left: 5% !important;
  padding-right: 5% !important;

}

.container-2{
  padding-left: 20% !important;
  background-color: antiquewhite;
}

.title {
  text-align: center;
}

.result {
  text-align: center;
  background-color: cadetblue;
}